
* {
	box-sizing: border-box;
}

.background {
	background-image: url("images-saloni/background2.jpg");
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*container for logo img*/
.header {
	width:100%;
	padding-top:1%;
	margin-right:auto;
	margin-left:auto;
	height:25%;	
}
	
.header img {
	display:block;
	width:50%;
	margin:auto;
}
/*Nav Bar and Breadcrumbs styling*/

nav ul {
	width: 95%;
	margin:20px;
	background-color:#AFEEEE;
	display: inline-block;
	text-align: center;
	padding: 14px;
	border-radius: 5px;
}

nav li {
	display: inline;
	color: #000000;
	text-decoration: none;
	padding: 10px;
}

li a {
	text-decoration: none;
	color: #FF0066;
	font-size: 14px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	margin: 0px 0px 30px 30px;
}

li a:hover {
	text-decoration: none;
	color: #000000;
	width: 100%;
	padding: 10px;
	border: 3px;
}


#pglocation {
	margin-left: 8%;
	margin-top: 3%;
	color: white;
}

#pglocation a {
	text-decoration: none;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	color: white;
}

/*Index Page styling with some elements repeated across linked pages*/

#mapwrap, .aboutwrap, .infoTopWrap {
	background-color: lavender;
	border-radius: 10px;
	padding: 20px;
	width: 85%;
	margin:3% auto;
}

/*Index page Map with clickable elements*/

#mapwrap .mapcontainer {
	position:relative;
	width:98%;
	margin:auto;
}

/*This is the large image of the map*/
#mapwrap img {
	width:98%;
	display:block;	
	margin:auto;
}

/*each of these is the clickable object superimposed on map*/
.mapoverlay1, .mapoverlay2, .mapoverlay3 {
	position:absolute;
	width:10%;
	height:5%;
}

.tag {
	width:100%;
}

/*Unique positions for each clickable map marker*/
.mapoverlay1 {
	top:27%;
	left:57%;
}

.mapoverlay2 {
	top:66%;
	left:10%;
}

.mapoverlay3 {
	top:72%;
	left:40%;
}


/*Index Page About Box below Map. InfoTop uses same styling on Info page*/
.aboutbox, .infoTop {
	width:98%;
	height:98%;
	background-color: white;
	margin:auto;
	padding:2%;
	font-family: "Tahoma", sans-serif;
	text-align:center;
}

.aboutbox h4 {	
	font-size: 20px;
}

.aboutbox p {
	font-size:15px;
}

.aboutbox a {
    text-decoration:none;
	color:#FF0066;
	font-size:15px;
	font-weight: bold;
}
	

.aboutbox a:hover {
	text-decoration:none;
	color:black;
	font-size:15px;
	font-weight: bold;
}


/*InfoBooth info boxes. Infobox goes inside infowrap*/

.infoTop h4 {	
	font-size: 20px;
}

.infoTop p {
	font-size:15px;
}


.infocontainer {
	width:80%;
	margin:auto;
}


.infowrap {
	display:block-inline;
	background-color: lavender;
	border-radius: 10px;
	padding: 20px;
	width: 40%;
	float:left;
	margin-right:2%;
	margin-left:5%;
	margin-top:2%;	
	margin-bottom:3%;
}

.infobox {
	width:98%;
	height:98%;
	background-color: white;
	margin:auto;
	padding:2%;
	font-family: "Tahoma", sans-serif;
	text-align:center;
}

.infobox h4 {	
	font-size: 20px;
}

.infobox p {
	font-size:15px;
}

.infobox img {
	display:block;
	margin:auto;
	width:90%;
}

.ticket-button {
	margin-bottom:3%;
}

.infobox a {
	text-decoration:none;
	font-weight:bold;
}
/*Ride Page Styling*/

/*.rideimage {
	width: 45%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
}*/


/*.aboutride {
	width: 25%;
	height: 295px; How to make this equal to image height?
	background-color: lightblue;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float: left;
}*/

/*.ride {
	background-color: lavender;
	border-radius: 10px;
	padding: 20px;
	width: 85%;
	margin: auto;
	margin-top: 3%;
}*/

/*.description {
	width: 25%;
	font-size: 14px;
	font-family: "Tahoma", sans-serif;
	background-color: #AFEEEE;
	margin-left: 25px;
	border-radius: 10px;
	padding: 10px;
	float: left;
}*/

/*h4 {
	font-family: "Tahoma", sans-serif;
	font-size: 17px;
	margin-top: 0px;
}*/


/*li {
	list-style: none;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
}*/


/*.clear {
	clear: both;
}
*/