* {
	box-sizing: border-box;
}
/*Creates a uniform background that stays fixed while scrolling*/
.background {
	background-image: url("images-saloni/background2.jpg");
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/*Header and Logo img styling*/
.header {
	width:100%;
	padding-top:1%;
	margin-right:auto;
	margin-left:auto;
	height:25%;	
}
.header img {
	display:block;
	width:50%;
	margin:auto;
}
/*Nav Bar styling*/
nav ul {
	width: 95%;
	margin: 20px;
	background-color: #AFEEEE;
	display: inline-block;
	text-align: center;
	padding: 14px;
	border-radius: 5px;
}
nav li {
	display: inline;
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
li a {
	text-decoration: none;
	color: #FF0066;
	font-size: 14px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	margin: 0px 0px 30px 30px;
}
li a:hover {
	text-decoration: none;
	color: #000000;
	width: 100%;
	padding: 10px;
	border: 3px;
}
a {
	text-decoration: none;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	color: white;
}
#pglocation {
	margin-left: 8%;
	margin-top: 3%;
	color: white;
}
/*Styling for divs on Rides and Eats pages*/
.rideimage, .eatimage {
	width: 45%;
	border-radius: 10px;
	float: left;
}
.aboutride {
	width: 25%;
	float: left;
}
.abouteat {
	width: 50%;
	float: left;
}
.rideone, .ridetwo, .ridethree, .ridefour, .ridefive {
	background-color: lavender;
	border-radius: 10px;
	padding: 20px;
	width: 85%;
	margin: auto;
	margin-top: 3%;
}
.eatone .eattwo, .eatthree, .eatfour, .eatfive {
	background-color: lavender;
	border-radius: 10px;
	padding: 20px;
	width: 85%;
	margin: auto;
	margin-top: 3%;
}
.description {
	width: 25%;
	font-size: 14px;
	font-family: "Tahoma", sans-serif;
	background-color: #AFEEEE;
	margin-left: 25px;
	border-radius: 10px;
	padding: 10px;
	float: left;
}
.description2 {
	width: 100%;
	font-size: 14px;
	font-family: "Tahoma", sans-serif;
	background-color: #AFEEEE;
	margin-top: 15px;
	border-radius: 10px;
	padding: 10px;
	float: left;
}
h4 {
	font-family: "Tahoma", sans-serif;
	font-size: 17px;
	margin-top: 0px;
}
li {
	list-style: none;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
}
.clear {
	clear: both;
}
/*Media query that adjusts (portrait) display of page across various mobile devices*/
@media screen and (max-width: 900px) {
	nav ul {
		padding: 0px, 0px;
		text-align: center;
	}
	nav li {
		width: 100%;
		float: left;
		text-align: center;
		display: block;
	}
	.rideone, .ridetwo, .ridethree, .ridefour, .ridefive, .eatone .eattwo, .eatthree, .eatfour, .eatfive {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.rideimage, .eatimage, .description, .description2 {
		width: 65%;
		margin: 0 auto;
		float: left;
		border-radius: 10px;
	}
	.aboutride, .abouteat {
		width: 200px;
		margin: 0 auto;
	}
	#pglocation {
		margin: 0 auto;
	}
}
/*Media query that adjusts (portrait) display across larger phones (iPhone 6 Plus) and smaller tablets*/
@media screen and (max-width: 675px) {
	nav ul {
		padding: 0px, 0px;
		text-align: center;
	}
	nav li {
		width: 100%;
		float: left;
		text-align: center;
		display: block;
	}
	.rideone, .ridetwo, .ridethree, .ridefour, .ridefive, .eatone .eattwo, .eatthree, .eatfour, .eatfive {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.rideimage, .eatimage, .description, .description2 {
		width: 300px;
		margin: 0 auto;
		float: left;
		border-radius: 10px;
		font-size: 12px;
	}
	#pglocation {
		margin: 0 auto;
	}
	.aboutride, .abouteat {
		width: 200px;
	}
	h4 {
		font-size: 15px;
	}
	li {
		font-size: 12px;
	}
}
/*Media query that adjusts (portrait) display across smaller phones (iPhone 5 and older)*/
@media screen and (max-width: 575px) {
	.description, .description2, #pglocation {
		display: none;
	}
	.rideone, .ridetwo, .ridethree, .ridefour, .ridefive, .eatone .eattwo, .eatthree, .eatfour, .eatfive {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.rideimage, .eatimage {
		width: 200px;
		float: none;
	}
}